/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CSS RESET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DEFAULTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body{
    background: #faeed6;
	font-family: sans-serif;
    font-size: 18px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div nav{
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	position: absolute;
	width: 100vw;
	left: -100vw;
}

.container  div  nav li p{
	display: none;
}

.hamburger{
	padding: 2%;
	z-index: 1;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hamburger span{
	height: 2px;
	width: 35px;
	background: white;
	display: block;
	margin-top: 3px;
	border: 1px solid white;
	border-radius: 3px;
	transition: 0.4s ease;
}

div nav li{
	background: #c78a21;
	text-align: center;
}

div nav li a{
	text-decoration: none;
	color: black;
}

.hamburger-button:checked ~ nav{
	left: 0;
}

.hamburger-button:checked + .hamburger > span:first-child {
	transform: rotate(135deg);
	position: absolute;
	top: 20px;
}

.hamburger-button:checked + .hamburger > span:nth-child(2) {
	transform: translateX(-200px);
}

.hamburger-button:checked + .hamburger > span:last-child {
	transform: rotate(45deg);
	position: absolute;
	top: 20px;
}


.container > div{
	background-color: #c78a21;
	display: flex;
	align-items: center;
}

.hamburger-button{
	display: none;
	text-align: center;
}

.logo img {
	width: 60%;
	height: auto;
}

div > label{
	flex-grow: 1;
}

#search{
	flex-grow: 2;
	border: 1px solid grey;
	border-radius: 2rem;
	padding-right: 3%;
	text-align: end;
}

i{
	color: white;
	flex-grow: 1;
	text-align: center;
	font-size: 1.5rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN BANNER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-banner{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.main-banner > picture {
	width: 100%;
	grid-column: 1 / 2;
	grid-row: 1 / 6;
}

picture source{
	width: 100%;
}

picture img{
	width: 100%;
}

picture ~ div{
	width: 80%;
	max-width: 800px;
	text-align: center;
	font-size: 1.1rem;
	color: #c78a21;
	background-color: rgba(0, 0, 0, 0.808);
	border: 1px solid rgba(0, 0, 0, 0.247);
	border-radius: 0.3rem;
	padding: 0.5rem;
	margin: 0 auto;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	font-size: 1rem;
	margin: 0 auto;
	background-color: #c78a21;
	border: 1px solid #c78a21;
	border-radius: 3rem;
	color: white;
	width: 200px;
	max-width: 380px;
	margin-top: 5px;
	grid-column: 1 / 2;
	grid-row: 4 / 5;
}

button i{
	color: rgb(27, 27, 27);
	font-size: 1rem;
	padding-left: 1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GALLERY  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h2{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
	color: #c78a21;
}



.gallery > div{
	margin: 5%;
	margin-bottom: 10%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2%;
}

.gallery > div > img{
	width: 100%;
	height: 100%;
}

.gallery > div > img:first-child{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.gallery > div > img:nth-child(2){
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.gallery > div > img:last-child{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

img ~ i{
	color: rgba(128, 128, 128, 0.664);
	height: 7rem;
}

div > .icon.icon-right{
	display: none;
}

.icon.icon-left{
	display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer{
	background-color: #c78a21;
	text-align: center;
}

footer p{
	display: block;
	color: white;
	font-size: 1rem;
	width: 45%;
	height: auto;
	text-align: left;
	padding: 5%;
	font-size: 4vw;
}

footer > img{
	width: 30%;
	height: 10%;
}

footer > div{
	background-color: #c78a21;
	border: none;
	padding: 8%;
}

footer div i{
	margin-left: 5%;
	margin-right: 5%;
}

table{
	display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media screen and (min-width: 520px){
	
	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	.container div nav li p{
		display: block;
		padding-right: 3%;
		color: white;
	}

	.main-banner > div{
		grid-column: 1 / 2;
		grid-row: 3 / 5;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.main-banner > button{
		margin-bottom: 3%;
		border-radius: 30px;
	}

	button{
		font-size: 1rem;
	}

	h1{
		font-size: 2rem;
	}

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GALLERY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	h2{
		font-size: 2rem;
	}

	.gallery > div{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		align-content: center;
	}

	.gallery > div > img:first-child{
		grid-column: 2 / 5;
		grid-row: 1 / 2; 
	}

	.gallery > div > img:nth-child(3){
		grid-column: 5 / 8;
		grid-row: 1 / 2; 
	}

	.gallery > div > img:nth-child(2){
		display: none; 
	}

	div > .icon.icon-right{
		display: block;
		grid-column: 8 / 9;
		grid-row: 1 / 2;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.icon.icon-left{
		display: block;
		grid-row: 1 / 2;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.icon.icon-down{
		display: none;
	}

	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	footer{
		padding: 2%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	footer p:first-child{
		grid-column: 2 / 4;
		grid-row: 1 / 3;
		font-size: 1rem;
	}

	footer img{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		width: 70%;
		height: auto;
		max-height: 250px;
	}

	footer > div{
		grid-column: 3 / 5;
		grid-row: 1 / 3;
		width: 100%;
		padding: 0%;
		justify-content: flex-end;
	}

	footer div > i{
		font-size: 2rem;
		flex-grow: 0;
		padding: 5%;
	}

	footer div + p{
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		font-size: 1rem;
		width: 100%;
		padding: 5%;
	}

	footer table:last-child{
		display: block;
		color: white;
		font-size: 1rem;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		padding-left: 9%;
		align-self: flex-end;
	}

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DESKTOP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media screen and (min-width: 767px){

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 


	.container > div{
		padding: 1%;
	}

	div nav{
		position: relative;
		left: 0;
		flex-grow: 3;
	}

	div nav ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	div nav ul li{
		padding-right: 5%;
	}

	div nav ul li a{
		color: white;
		min-width: 100px;
	}

	div nav ul li:first-child{
		order: -1;
		max-width: 100px;
	}

	.container div nav ul li:nth-child(2){
		margin-right: auto;
	}

	div > label{
		display: none;
	}

	.container > div > p{
		order: 0;
	}

	#search{
		min-width: 25%;
		margin: 2%;
	}

	.icon.icon-cart{
		flex-grow: 1;
	}

	.container div nav ul li:nth-child(2){
		min-width: 230px;
	}

	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN BANNER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

	h1{
		font-size: 2.7rem;
	}

	button{
		max-height: 70px;
	}

	.main-banner img{
		height: 90%;
	}

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GALLERY  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	h2{
		font-size: 3rem;
	}

	.gallery div{
		gap: 3%;
	}

	.gallery div img:nth-child(1){
		grid-column: 2 / 4;
		grid-row: 1 / 2;
	}

	.gallery div img:nth-child(2){
		display: block;
		grid-column: 4 / 6;
		grid-row: 1 / 2;
		transform: scale(1.2);
	}

	.gallery div img:nth-child(3){
		grid-column: 6 / 8;
		grid-row: 1 / 2;
	}

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	nav + table{
		display: block;
		color: white;
		font-size: 1rem;
		grid-column: 3 / 4;
		grid-row: 1 / 3;
	}

	footer table:last-child{
		padding: 0%;
		grid-row: 2 / 3;
		align-self: flex-start;
	}

	th{
		text-align: start;
	}

	footer img{
		width: 30%;
	}

	footer nav{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		width: 100%;
	}

	footer nav ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 3%;
		line-height: 25px;
	}

	footer p:first-child{
		padding: 0;
		padding-top: 2%;
	}

	footer div{
		display: flex;
		align-items: flex-end;
	}

	footer div i{
		margin: 0%;
	}

}