/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CSS RESET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DEFAULTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body{
    background: #faeed6;
	font-family: sans-serif;
    font-size: 18px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav{
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	position: absolute;
	width: 100vw;
	left: -100vw;
}

.hamburger{
	padding: 2%;
	z-index: 1;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hamburger span{
	height: 2px;
	width: 35px;
	background: white;
	display: block;
	margin-top: 3px;
	border: 1px solid white;
	border-radius: 3px;
	transition: 0.4s ease;
}

nav li{
	padding: 40px;
	background: #c78a21;
	text-align: center;
}

nav li a{
	text-decoration: none;
	color: black;
}

.hamburger-button:checked ~ nav{
	left: 0;
}

.hamburger-button:checked + .hamburger > span:first-child {
	transform: rotate(135deg);
	position: absolute;
	top: 20px;
}

.hamburger-button:checked + .hamburger > span:nth-child(2) {
	transform: translateX(-200px);
}

.hamburger-button:checked + .hamburger > span:last-child {
	transform: rotate(45deg);
	position: absolute;
	top: 20px;
}


.container > div{
	background-color: #c78a21;
	display: flex;
	align-items: center;
}

.hamburger-button{
	display: none;
	text-align: center;
}

.logo img {
	width: 60%;
	height: auto;
}

div > label{
	flex-grow: 1;
}

#search{
	flex-grow: 2;
	border: 1px solid grey;
	border-radius: 2rem;
	padding-right: 3%;
	text-align: end;
}

i{
	color: white;
	flex-grow: 1;
	text-align: center;
	font-size: 1.5rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN BANNER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-banner{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.main-banner > img {
	width: 100vw;
	grid-column: 1 / 2;
	grid-row: 1 / 6;
}

img ~ div{
	width: 70vw;
	text-align: center;
	font-size: 5vw;
	color: #c78a21;
	background-color: rgba(0, 0, 0, 0.808);
	border: 1px solid rgba(0, 0, 0, 0.247);
	border-radius: 0.3rem;
	padding: 0.5rem;
	margin: 0 auto;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
}


button{
	font-size: 3vw;
	margin: 0 auto;
	background-color: #c78a21;
	border: 1px solid #c78a21;
	border-radius: 3rem;
	color: white;
	width: 35vw;
	margin-top: 5px;
	grid-column: 1 / 2;
	grid-row: 4 / 5;
}

button i{
	color: rgb(27, 27, 27);
	font-size: 3vw;
	padding-left: 1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GALLERY  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h2{
	text-align: center;
	font-size: 6vw;
	margin: 3rem;
	color: #c78a21;
}



.gallery > div{
	margin: 5%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2%;
}

.gallery > div > img{
	width: 100%;
	height: 100%;
}

.gallery > div > img:first-child{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.gallery > div > img:nth-child(2){
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.gallery > div > img:last-child{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}